#lang-select{
  width: 113px;
  height: 40px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid var(--gray-500, #757575);
  margin: 10px 0;
  appearance: none;
  padding: 12px 10px;
  display: inline-flex;
  text-align: center;
  /* gap: 8px; */
  color: var(--gray-500, #757575);
  font-size: 15px;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  background-image: url(./../../images/icon/select-global.svg), url(./../../images/icon/select-down-fill.svg);
  background-repeat: no-repeat;
  background-position: left 10px bottom 10px, right 10px bottom 10px;
}