/* 컴포넌트 컨테이너 */
.header .brand {
  font-size: 1em;
  line-height: 1;
  width: 140px;
  height: 38px;
}
.header{
  padding: 50px;
  display: flex;
  flex-flow: row nowrap;
}
.header-inner {
  display: flex;
  flex-flow: row nowrap;
  width: clamp(740px, 85%, 1200px);
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  /* height: 3.125em; */
}
.select-signIn{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.link-signIn{
  display: flex;
  width: 70px;
  height: 40px;
  padding: 8px 12px;
  border-radius: 4px;
  background: var(--red-500, #E50914);
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: -0.008px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .header {
    margin: auto;
    padding: 20px 25px;
  }
  .header-inner {
    width: clamp(375px, 96.35%, 1280px);
    margin: 0 auto;
  }
  .select-signIn{
    gap: 16px;
  }
  .link-signIn{
    width: 69px;
    height: auto;
  }
}