<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>헤더 컴포넌트</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="header-inner">
        <h1 class="brand">
          <a href="./mission-03.html" class="logo-link light-logo">
            <img src="./../../images/icon/Logo.svg" alt="Netflix" />
          </a>
        </h1>
        <div class="select-signIn">
          <select id="lang-select" name="language-select">
            <option selected lang="ko" label="한국어" value="ko">한국어</option>
            <option lang="en" label="English" value="en">English</option>
          </select>
          <a href="/" class="link-signIn">로그인</a>
        </div>
      </div>
    </header>
  </body>
</html>
