<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>헤더 컴포넌트</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="header-inner">
        <h1 class="brand">
          <a href="./mission-03.html" class="logo-link light-logo">
            <img src="./images/Logo.svg" alt="Netflix" />
          </a>
        </h1>
        <select id="lang-select" onchange="changeLanguage()">
          <option value="ko">한국어</option>
          <option value="en">English</option>
        </select>

        <a href="/" class="link-signup button-stroke">로그인</a>
      </div>
    </header>
  </body>
</html>
