/* 푸터 컴포넌트 */
.footer {
  background: var(--black);
  line-height: 1.5;
  letter-spacing: -0.015em;
  padding-top: 2.875rem;
  padding: 3.125rem 4.375rem;
}

.footer-inner {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1.67em;
}
.footer-title{
  color: var(--gray-200, #C8C8C8);
  /* Text/x-large (bold) */
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  letter-spacing: -0.01px;
}
/* [class*='footer-wrapper'] {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
} */

.footer-wrapper-1 {
  color: var(--gray-300, #ACACAC);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  
}

ul {
  display: flex;
  flex-flow: row wrap;
  column-gap: 3.75rem;
  padding: 0.2rem;
}

li{
  width: 205px;
  height: 19px;
}

#lang-select{
  width: 113px;
  height: 43px;
  background-color: transparent;
  color: #919191;
  border-radius: 2px;
  border: 1px solid var(--gray-500, #757575);
  margin: 20px 0;
}

.footer-wrapper-2 {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
  text-align: left;
}

.address .span {
  color: var(--gray-400, #919191);
  /* Text/normal (bold) */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: -0.008px;
}

.address-title{
  color: var(--gray-300, #ACACAC);
  font-size: 22px;
  font-weight: 700;
  line-height: 120%; /* 26.4px */

}
.address {
  display: flex;
  flex-flow: column;
  color: var(--gray-400, #919191);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: -0.008px;
}

/* @media (max-width: 600px) {
  .address {
  }
}

@media (min-width: 600px) {
  .guide {
    flex-wrap: nowrap;
  }

  .address {
    flex-flow: row wrap;
    width: clamp(610px, 80%, 800px);
  }
} */