body{
  background-color: black;
}

.header-main{
  background-image: 
    linear-gradient(to top, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 1) 100%),
    url(./images/background-desktop.jpg);
  width: 100%;
  background-size: cover;
}


main{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 28px;
  padding: 57px;
  margin-top: 40px;
  margin-bottom: 147px;

}
main > h2{
  color: var(--White, #FFF);
  text-align: center;
  /* Title/2x-large */
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 72px */
  letter-spacing: -0.03px;
}
main > p {
  color: var(--White, #FFF);
  text-align: justify;
  /* Text Shadow (Paragraph) */
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.55);
  /* Text/x-large (bold) */
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  letter-spacing: -0.01px;
}
main > h3{
  color: var(--White, #FFF);
  text-align: justify;
  /* Text Shadow (Paragraph) */
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.55);
  /* Text/normal (bold) */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: -0.008px;
}

.button-signin{
  background: red;
  color: #FFF;
}