body{
  background-color: black;
}

.header-main{
  background-image: 
    linear-gradient(to top, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 1) 100%),
    url(./images/background-desktop.jpg);
  width: 100%;
  background-size: cover;
}


main{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 28px;
  padding: 57px;
  margin-top: 40px;
  margin-bottom: 147px;

}
main > h2{
  color: var(--White, #FFF);
  text-align: center;
  /* Title/2x-large */
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 72px */
  letter-spacing: -0.03px;
}
main > p {
  color: var(--White, #FFF);
  text-align: justify;
  /* Text Shadow (Paragraph) */
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.55);
  /* Text/x-large (bold) */
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  letter-spacing: -0.01px;
}
main > h3{
  color: var(--White, #FFF);
  text-align: justify;
  /* Text Shadow (Paragraph) */
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.55);
  /* Text/normal (bold) */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: -0.008px;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-input-wrapper {
  display: flex;
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
}
#get-started{
  width: 540px;
  height: 60px;
  padding-top: 15px;
  padding-left: 17px;
}
.form-input-label{
  position: absolute;
  top: 50%;
  left: 20px; /*레이블을 입력 필드의 좌측에 위치하도록 조정*/
  transform: translateY(-50%);
  pointer-events: none;
  transition: all 0.3s ease;
  color: var(--gray-500, #757575);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.008px;

  pointer-events: none;
}

#get-started:focus + .form-input-label,
#get-started:valid + .form-input-label
 {
  font-size: 12px;
  color: var(--red-500, #E50914);
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.006px;
  transform: translateY(-130%);
}

.feedback {
  display: none;
  color: var(--red-500, #E50914);
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.007px;
  margin-top: 5px;
}

.button-signup{
  border: none;
  background: red;
  background-image: url(./images/icon/button-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 20px bottom 20px;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  width: 210px;
  height: 60px;
  padding: 17px 52px 17px 20px;
}
@media(max-width:600px){
  .header-main{
    background-image: 
    linear-gradient(to top, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 1) 100%),
    url(./images/background-mobile.jpg);
  }
  .form-input-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }
  #get-started{
    width: 245px;
    height: 40px;
    border-radius: 30px;
    
  }
  .form-input-label{
    font-size: 14px;
  }
  .button-signup{
    width:160px;
    height: 40px;
    font-size: 14px;
    border-radius: 30px;
  }
}
@media(max-width:900px){
  #get-started{
    width: 380px;
  }
  .button-signup{
    width:175px;
    font-size: 16px;
  }
}